In [21]:
import spacy 
import pandas as pd

In [22]:
def show_ents(doc):
    df = pd.DataFrame({
    "text": [ent.text for ent in doc.ents],
    "label": [ent.label for ent in doc.ents],
    "label_": [ent.label_ for ent in doc.ents],
    "explain": [spacy.explain(ent.label_) for ent in doc.ents],
    "start":[ent.start for ent in doc.ents],
    "end" : [ent.end for ent in doc.ents],
    "start_char" : [ent.start_char for ent in doc.ents],
    "end_char" : [ent.end_char for ent in doc.ents], 
    })
    return df if doc.ents else "there is no entity"

In [24]:
nlp = spacy.load("en_core_web_sm")
doc_1 = nlp(u'Apple to build a Hong Kong factory for $6 million')
show_ents(doc_1)

,text,label,label_,explain,start,end,start_char,end_char
0,Apple,383,ORG,"Companies, agencies, institutions, etc.",0,1,0,5
1,Hong Kong,384,GPE,"Countries, cities, states",4,6,17,26
2,$6 million,394,MONEY,"Monetary values, including unit",8,11,39,49

In [18]:
show_ents(nlp('Hi how are you'))

'there is no entity'

In [19]:
show_ents(nlp('May I go to Washington, DC next May to see the Washington Monument?'))

,text,label,label_,explain,start,end,start_char,end_char
0,"Washington, DC",384,GPE,"Countries, cities, states",4,7,12,26
1,next May,391,DATE,Absolute or relative dates or periods,7,9,27,35
2,the Washington Monument,383,ORG,"Companies, agencies, institutions, etc.",11,14,43,66

In [20]:
show_ents(nlp('Can I please borrow 500 dollars from you to buy some Microsoft stock?'))

,text,label,label_,explain,start,end,start_char,end_char
0,500 dollars,394,MONEY,"Monetary values, including unit",4,6,20,31
1,Microsoft,383,ORG,"Companies, agencies, institutions, etc.",11,12,53,62